@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ASMedical</h1>
    <h5>Healthy information for you</h5>
</div>

<div class="img-fluid text-center">
    <img src="images/index_med.gif" height="32%" width="32%"/>
</div>

