@{
    ViewData["Title"] = "Home Page";
}

<div class="container col-4">

    <div class="text-center">
        <h1 class="display-4">ASMedical</h1>
        <h5>Healthy information for you</h5>
    </div>

        <div class="text-start col-8">
            <img src="images/index_med.gif" height="100%" width="100%" />
        </div>

        <div class="col-4">
            <button class= " text-end btn-info">Administration Area<i class="bi bi-file-medical"></i></button>
            <br></br>
            <button class=" text-endbtn btn-info"> Medical Area<i class="bi bi-file-medical"></i></button>
        </div>
</div>